@media screen and (max-width: 1120px) {
  .subscribe-img1 {
    display: none;
  }
  .subscribe-img2 {
    display: none;
  }
  .mid-section {
    padding: 15px 30px 0px 30px;
  }
  .navbar {
    padding: 15px 30px 0px 30px;
  }
}
@media screen and (max-width: 992px) {
  nav ul {
    width: 450px;
  }
  nav ul li{
    font-size: 18px;

  }
  .navbar {
    padding: 15px 30px 0px 30px;
  }
  .mid-section {
    padding: 15px 30px 0px 30px;
  }
  .text-section {
    position: absolute;

    z-index: 999999;
  }
  .text-section p {
    font-size: 15px;
    width: 300px;
  }
  .text-section h1 {
    font-size: 44px;
  }
  .text-section h2{
    font-size: 30px;
  }
  .footer-logo p {
  
    width: 400px;
  }
  .flex{
    flex-direction: column;
   }
}
@media screen and (max-width: 768px) {
 
  .header-photo img {
    display: none;
  }
  .text-section {
    width: 90%;
  }
  .welcome-to-nature {
    padding-top: 0px;
  }
  .presented-images {
    padding: 15px 20px;
  }
  .profile {
    margin: 20px;
  }
  .profile p {
    width: 100%;
  }
  .profile-subscribe {
    margin: 20px;
  }
  .profile-subscribe p {
    width: 100%;
  }
  
  .about-us,
  .follow-us {
    
    width: 130px;
  }
 
  .read-our-blog{
    height: 100%;

}

.text-section p {
  width: 100%;
}
.navbar-section{
  height: 450px;
}
.read-our-blog {
  margin: 30px;
}
.read-our-blog-text {
 
  margin-bottom: 25px;
}


}
@media screen and (max-width: 700px) {

  
  .navbar {
    padding: 15px 28px 0px 28px;
  }
  .list-contact {
    padding: 6px;
  }
}
@media screen and (max-width: 576px) {

  .navbar {
    padding: 10px 10px 0px 10px;
    justify-content: center;
  }
 
  .welcome-to-nature-text h3 {
    font-size: 30px;
  }
  .welcome-to-nature-text p {
    width: 100%;
    font-size: 14px;
  }
  .welcome-to-nature-cards {
    margin-top: 10px;
    gap: 12px;
  }
  footer{
    flex-direction: column;
  }
  .subscribe input {
    width: 160px;
    height: 36px;
    padding: 0px 32px;
  }
  
  .subscribe button{
    width: 88px;
    height: 36px;
    font-size: 14px;
  }
  .read-our-blog {
    margin: 12px;
}
 
  
}
@media screen and (max-width: 768px) {
    
    .list-items{
     display: none;
     flex-direction: column; 
    }
    .menu{
        display:block;
        cursor: pointer;
    }
    .menu i{
        font-size: 30px;
    }
    .navbar{
        justify-content: space-between;
    }
    .menu-checkbox:checked + .menu {
        display: none;
      }
    
      .menu-checkbox:checked + .menu + .list-items {
        display: flex;
      }
     
      .text-section {
        padding-top: 30px;
    }
    
  }
