body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
img{
    width: 100%;
    height: 100%;
}
p{
    text-align: center;
}
button{
    cursor: pointer;
}
.navbar-section{
    background-image: url('/Images/Rectangle\ 1.png');
    height: 580px;
    width: 100%;
    position: relative;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 120px 0px 120px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 430px;
    cursor: pointer;
}
.list-contact{
    border: 2px solid #00DBD0;
    padding: 10px 20px;
    border-radius: 10px;
}

.logo-image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 235px;
}
.list-items{
    margin: 0px;
    color:#374B5C;
}
.menu{
    display: none;
}
.mid-section{
    padding: 15px 0px 0px 120px;
    display: flex;
    height: 100vh;
}
.text-section{
    padding-top: 100px;
    width: 45%;
}
.text-section h2{
    font-weight: 200;
    font-size: 36px;
    margin: 15px 20px 0px 0px;
    color:#374B5C;

}
.text-section h1{
    font-size: 56px;
    margin: 0px;
    font-weight: bold;
    color:#374B5C;

}
.text-section p{
    font-size: 20px;
    text-align: left;
}
.header-photo{
    width: 55%;
}
.header-photo img{
    object-fit: contain;
    position: absolute;
    right: -30%;
}


.button-41 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00DBD0, #2c9792);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 144px;
  z-index: 9;
  border: 0;
  margin-top: 30px;
}

.button-41:hover {
  background: #63c2bd;
}
.welcome-to-nature{
    background: url('./Images/Rectangle\ 46.png');
    padding: 70px;
    padding-top: 60px;

}
.welcome-to-nature img{
    width: 40px;
}
.welcome-to-nature-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:35px
}
.welcome-to-nature-text h3{
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.welcome-to-nature-text p{
    width: 500px;
    font-size: 16px;
    text-align: center;
}
.card{
    border: 2px dotted black;
    width: 191.69px;
    height: 200.9px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}
.card:hover{
    color: white;
    border: none;
    background-color: #00DBD0;
}
.card:hover .image1{
    display: none;
}
.card:hover .image2{
    display: block;
}
.image2{
    display: none;
}

.card h4{
    margin: 15px 0px;
}
.card p{
    margin: 0px;
}
.welcome-to-nature-cards{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap:wrap;
    gap: 36px;
}
.presented-images img{
    width: 108.06px;
    object-fit: contain;
    height: 148.76px;
}
.presented-images{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 140px;
    gap: 20px;
}
.profile-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.profile-image h4{
    font-size: 26px;
    margin: 5px;    
}
.profile-image p{
    font-size: 16px;
}
.profile-comma-img{
    width: 60px;
    height: 50px;
}
.profile-photo{
    width: 97px;
    height: 97px;
}
.profile-stars{
    width: 126px;
    height: 20px;
}
.profile{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile p{
    width: 568px;
    font-size: 16px;
}
.subscribe p{
    width: 568px;
    font-size: 16px;
}
.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.subscribe h4{
    font-size: 36px;
    font-weight: normal;
    margin: 0px;
    text-align: center;
}
/* .subscribe button{
    background-color: #00DBD0;
    width: 167px;
    height: 56px;
    color: white;
    border: none;
    border-radius: 40px;
}
.subscribe input{
    width: 167px;
    height: 69px;
    border: 1px solid #00DBD0;
    border-radius: 40px;
    padding: 0px 40px;
} */

.input {
    display: flex;
    align-items: stretch; /* Make the items stretch to the same height */
  }
  
  .input input {
    flex: 1; /* Allow the input to take the remaining space */
    height: 56px; /* Set the height to match the button */
    border: none;
    border-radius: 40px;
    padding: 0 20px; /* Adjust padding as needed */
  }
  .input input:focus {
    border: 1px solid #00DBD0;
    outline: none; /* Optional: Remove the default browser outline */
  }
  
  .input button {
    background-color: #00DBD0;
    color: white;
    border: none;
    border-radius: 40px;
    width: 167px;
    height: 56px; /* Set the height to match the input */
  }
.profile-subscribe{
    position: relative;
}
.subscribe-img1{
    position: absolute;
    right: 62%;
    bottom: 50%;
    object-fit: none;
    
}
.subscribe-img2{
    position: absolute;
    bottom: 58%;
    left: 50%;
    object-fit: none;

}
.blog-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-card button{
    border: none;
    background: none;
    cursor: pointer;
}
.blog-card img:hover {
    filter: brightness(0) invert(1);
  }
.read-our-blog-text img{
    width: 40px;
}
.read-our-blog-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.read-our-blog{
    margin: 70px;

}
.read-our-blog h3{
    font-size: 36px;
    text-align: center;
    margin: 0px;
}
.read-our-blog-p{
    font-size: 16px;
    width: 568px;
}
.blog-cards{
    gap: 50px;
    flex-wrap: wrap;
}
.blog-card{
    width: 278px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 4rem;
    background-position: center;
    background-size: cover;
    background-image: url('/Images/footer\ image.png');
    color: #fff; 
    display: flex;
    /* padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; */
  }
  
  .footer-logo img {
    width: 90px; 
    height: 30px;
    margin-bottom: 10px;
  }
  
  .footer-logo p {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }
  
  .footer-logo span {
    display: block;
    margin-top: 10px;
  }
  
  .about-us,
  .follow-us {
    flex: 1;
    margin: 0 20px;
    width: 200px;
  }

  
  .about-us h5,
  .follow-us h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .line {
    height: 2px;
    width: 30px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .ul-list{
    text-align: left;

  }
  .about-us ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .follow-us ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  
  .about-us li,
  .follow-us li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .follow-us-list-items ul {
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .follow-us-list-items li {
    margin-right: 10px;
    font-size: 24px;
  }
  
  /* Add additional styling for font-awesome icons if needed */
  